services:
  gitlab-runner:
    image: gitlab/gitlab-runner:latest
    restart: unless-stopped
    hostname: gitlab-runner
    network_mode: 'host'
    container_name: gitlab-runner
    volumes:
      #For config.toml
      - /srv/gitlab-runner/config:/etc/gitlab-runner
      # Mounts the host docker socket to the socket of the container.
      # Needed for docker executor
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - CI_SERVER_URL=http://gitlab.nextgen.com
      - DOCKER-IMAGE=ubuntu:latest
      - DOCKER_PRIVILEGE=true